---
permalink: /2008/10/hommage-michka.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=/2008/10/hommage-michka/">
  <link rel="canonical" href="{{ site.url }}/2008/10/hommage-michka/">
  <script>window.location.replace('/2008/10/hommage-michka/');</script>
</head>
<body>
  <p>Redirection vers <a href="/2008/10/hommage-michka/">Hommage à Michka</a>…</p>
</body>
</html>
