---
permalink: /2008/06/pose-des-plexis.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=/2008/06/pose-des-plexis/">
  <link rel="canonical" href="{{ site.url }}/2008/06/pose-des-plexis/">
  <script>window.location.replace('/2008/06/pose-des-plexis/');</script>
</head>
<body>
  <p>Redirection vers <a href="/2008/06/pose-des-plexis/">Pose des plexis</a>…</p>
</body>
</html>
